.zippy {
    border: 4px solid rgb(31, 209, 25);
    border-radius: 8px;
}

.zippy-header {
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
}

.zippy-body {
    padding: 20px;
}

.expanded {
    background-color: #b1a5a5;
}

.fa {
    float: right;
}
